// General
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

// Global
.container {
  max-width: 1100px;
  margin: 40px auto 0 auto;
}

// Home
.home {
  h1 {
    color: royalblue;
  }
}

// New Recipe (Add)
.form {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
  justify-self: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;

  h1 {
    margin-bottom: 10px;
  }

  &-element {
    margin-bottom: 25px !important;
  }

  &-ingredients {
    display: flex;
    justify-content: space-between;

    &__button {
      margin: 5px;
      text-transform: capitalize;
    }

    &__buttons {
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
    }
  }
}

// All recipes
.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &-title {
    color: royalblue !important;
    font-size: 20px;

    &:hover {
      cursor: pointer;
    }
  }
  &-card {
    margin: 5px;
  }
  &-image {
    width: 225px;
    height: 175px;
    margin-bottom: 10px;
    object-fit: cover;
  }
}

// Single recipe
.recipe {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  &-title {
    color: rosybrown !important;
    font-size: 35px;
  }

  &-image {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    margin: 20px 0;
  }

  &-ingredients {
    display: flex;
    flex-direction: column;
    h3 {
      color: royalblue !important;
      font-size: 20px;
      margin: 15px 0 10px 0;
    }
    p {
      font-size: 17px;
    }
  }

  &-details {
    h3 {
      color: royalblue !important;
      font-size: 20px;
      margin: 15px 0 10px 0;
    }
    p {
      font-size: 17px;
    }
  }
}

// Navigation
.navigation {
  background-color: royalblue;
  display: flex;
  padding: 25px;
  align-items: center;

  a {
    text-decoration: none;
    color: #fff;
  }

  &-link {
    margin-right: 30px;
  }
}

.link-active {
  a {
    color: rosybrown !important;
  }
}
